.homeContainer{
    display: flex;
    flex-flow: row wrap;
}

/* === HEADER === */ 

.homeHeader{
    flex: 100%;
}

.header-info{
    display: flex;
    flex-direction: row;
}

.welcomeText{
    font-size: 70px;
    margin: 0;
}


/* ====== SIDEBAR ======= */

.nav-sidebar{
    padding-top: 30px;
    flex: 19.5%;
    height: 400px;
    flex-direction: column;
    border: none;
}

.nav-sidebar > ul {
    list-style: none;
    text-align: left;

}

.nav-sidebar > ul > li {
    display: flex;
    margin-top: 3px;
    margin-right: 5px;
}

.deleteButton {
    background: initial;
    border: none;
}

.deleteButton:hover{
    font-size: 15px;
}

.nav-sidebar-button {
 border: none;
 border-radius: 5px;
 background-color: rgb(223, 41, 72);
 height: 30px;
 color: white;
 font-weight: bold;
 margin: 10px;
}

.nav-sidebar-button:hover{
    border: 2px solid rgb(184, 33, 58);
}

.border{
    flex: 0.5%;
    background-color: rgb(223, 41, 72);
    border-radius: 5px
}

.nav-sidebar-input{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

.room:active{
    text-decoration: underline;
}

/* ====== MESSAGECONT ====*/
.messageContainer{
    padding-top: 20px;
    flex: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}   

.messageContainer-messages{
    width: 600px;
    margin: auto;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.messageContainer-ul{
    list-style: none;
}

.message-from{
    background-color: rgb(223, 41, 72);
    border-radius: 10px 10px 0 0;
}

.message{
    background-color: rgb(245, 212, 212);
    border-radius: 10px;
}

